#  Scikit-Learn - Utilizando um modelo treinado

### Objetivo

> O objetivo principal √© a elabora√ß√£o de um c√≥digo para **usar um modelo de Machine Learning j√° treinado para preencher dados faltantes em um novo dataset**. 
>
> Vamos supor que temos um conjunto de dados com informa√ß√µes de alunos (como idade, renda, cidade, nota etc.) e queremos **prever uma categoria** (por exemplo: se o aluno foi aprovado ou reprovado, ou qual tipo de bolsa ele pode receber) com base nas outras informa√ß√µes.
>

## üìå Estrutura Geral do C√≥digo

1. **Carregar o modelo salvo**
2. **Ler o novo dataset**
3. **Separar colunas por tipo (num√©ricas e categ√≥ricas)**
4. **Preencher valores faltantes (imputa√ß√£o)**
5. **Transformar vari√°veis categ√≥ricas em n√∫meros (One-Hot Encoding)**
6. **Padronizar os dados num√©ricos**
7. **Usar o modelo para fazer previs√µes**
8. **Adicionar as previs√µes no dataset original**
9. **Mostrar o resultado final**

### üêç C√≥digo - Carregando as bibliotecas

In [34]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.metrics import accuracy_score
from joblib import load

### üîñ Explica√ß√µes

| M√≥dulo | O que faz |
|-------|-----------|
| `OneHotEncoder` | Transforma texto em n√∫meros. Converte `"cidade"` em colunas como `"cidade_Sao_Paulo"`, `"cidade_Rio"` etc. |
| `StandardScaler` | Deixa n√∫meros na mesma escala. Alguns modelos aprendem melhor quando os n√∫meros est√£o equilibrados. |
| `SimpleImputer` | Preenche campos vazios. Substitui por m√©dia, mediana ou outro valor fixo. |
| `ColumnTransformer` | Aplica transforma√ß√µes espec√≠ficas por tipo de coluna. Permite aplicar `StandardScaler` nas colunas num√©ricas e `OneHotEncoder` nas categ√≥ricas |
| `joblib.load` | Carrega um modelo j√° treinado |

### üêç C√≥digo - Carregar o modelo salvo

In [28]:
modelo = load('modelo-treinado/modelo_regressao_logistica.joblib')

### üîñ Explica√ß√µes

- Aqui estamos carregando um **modelo de Machine Learning j√° treinado**, que foi salvo anteriormente com o nome `modelo_regressao_logistica.joblib`.
- A fun√ß√£o `load()` do m√≥dulo `joblib` serve para carregar modelos que foram salvos com `dump()` depois do treinamento.
- Esse modelo vai ser usado para **fazer previs√µes** em novos dados.

### üêç C√≥digo - Ler o novo dataset

In [8]:
df_novo = pd.read_csv('dataset/dataset_sudeste_simples_realista_outliers-1k.csv')
df_novo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         1000 non-null   int64
 1   idade      981 non-null    float64
 2   renda      986 non-null    float64
 3   cidade     993 non-null    object
 4   categoria  990 non-null    object
 5   nota       990 non-null    float64
 6   feedback   985 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 54.8+ KB

### üîñ Explica√ß√µes

- Estamos lendo um arquivo `.csv` chamado `dataset_sudeste_simples_realista_outliers-20250618_112332.csv` usando o Pandas (`pd.read_csv`).
- Esse √© o **conjunto de dados onde falta alguma informa√ß√£o** que queremos prever.
- Por exemplo, talvez a coluna `"categoria"` esteja vazia ou ausente, e queremos usar o modelo para complet√°-la.

### üêç C√≥digo - Separar colunas por tipo

In [45]:
colunas_numericas = ['idade', 'renda', 'nota']
colunas_categoricas = ['cidade', 'feedback']

### üîñ Explica√ß√µes

- Separamos as colunas do dataset em dois grupos:
  - **Num√©ricas**: que t√™m valores como n√∫meros (ex: idade, renda, nota)
  - **Categ√≥ricas**: que t√™m valores como textos ou categorias (ex: cidade, feedback)

Essa separa√ß√£o √© importante porque **precisamos preparar os dados de formas diferentes** dependendo do tipo.

### üêç C√≥digo - Imputa√ß√£o de valores faltantes

In [46]:
imputer = SimpleImputer(strategy='mean')
df_novo[colunas_numericas] = imputer.fit_transform(df_novo[colunas_numericas])

### üîñ Explica√ß√µes

- Valores faltantes s√£o aqueles que est√£o vazios ou com `NaN` (Not a Number).
- Usamos o `SimpleImputer` com estrat√©gia `'mean'` para **substituir esses valores pela m√©dia** das colunas num√©ricas.
- Isso √© necess√°rio pois modelos de ML **n√£o aceitam valores faltantes**.

### üêç C√≥digo

In [47]:
df_novo[['idade','renda','nota']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   idade   1000 non-null   float64
 1   renda   1000 non-null   float64
 2   nota    1000 non-null   float64
dtypes: float64(3)
memory usage: 23.6 KB

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [48]:
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
categorias_codificadas = encoder.fit_transform(df_novo[colunas_categoricas])

df_categorias = pd.DataFrame(categorias_codificadas, columns=encoder.get_feature_names_out(colunas_categoricas))
df_processado = pd.concat([df_novo.reset_index(drop=True), df_categorias], axis=1)
df_processado.drop(colunas_categoricas, axis=1, inplace=True)

### üîñ Explica√ß√µes

- Modelos de ML **n√£o entendem texto diretamente**. Ent√£o precisamos transformar palavras em n√∫meros.
- O `OneHotEncoder` cria **colunas bin√°rias (0 ou 1)** para representar cada categoria.
  - Exemplo: Se a coluna `"cidade"` tem os valores `"S√£o Paulo"`, `"Rio"`, `"Curitiba"`, ele cria tr√™s colunas: `cidade_S√£o Paulo`, `cidade_Rio`, `cidade_Curitiba`.

> ‚ö†Ô∏è Importante: usamos `handle_unknown='ignore'` para evitar erros caso apare√ßa uma nova cidade no novo dataset que n√£o estava nos dados de treino.

### üêç C√≥digo

In [49]:
df_categorias.info()
df_categorias.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   cidade_Belo Horizonte  1000 non-null   float64
 1   cidade_Rio de Janeiro  1000 non-null   float64
 2   cidade_S√£o Paulo       1000 non-null   float64
 3   cidade_Vit√≥ria         1000 non-null   float64
 4   cidade_nan             1000 non-null   float64
 5   feedback_Bom           1000 non-null   float64
 6   feedback_Regular       1000 non-null   float64
 7   feedback_Ruim          1000 non-null   float64
 8   feedback_nan           1000 non-null   float64
dtypes: float64(9)
memory usage: 70.4 KB

,cidade_Belo Horizonte,cidade_Rio de Janeiro,cidade_S√£o Paulo,cidade_Vit√≥ria,cidade_nan,feedback_Bom,feedback_Regular,feedback_Ruim,feedback_nan
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [50]:
df_processado.info()
df_processado[colunas_numericas].head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     1000 non-null   int64
 1   idade                  1000 non-null   float64
 2   renda                  1000 non-null   float64
 3   categoria              990 non-null    object
 4   nota                   1000 non-null   float64
 5   cidade_Belo Horizonte  1000 non-null   float64
 6   cidade_Rio de Janeiro  1000 non-null   float64
 7   cidade_S√£o Paulo       1000 non-null   float64
 8   cidade_Vit√≥ria         1000 non-null   float64
 9   cidade_nan             1000 non-null   float64
 10  feedback_Bom           1000 non-null   float64
 11  feedback_Regular       1000 non-null   float64
 12  feedback_Ruim          1000 non-null   float64
 13  feedback_nan           1000 non-null   float64
dtypes: float64(12), int64(1), object(1)
memory usage: 109.5+ KB

       idade         renda  nota
0  36.000000   7038.010000   2.9
1  43.054027   9306.040000   5.1
2  35.000000   5148.470000   9.4
3  16.000000  12597.910000   1.8
4  41.000000  11057.240000   0.3
5  51.000000   6113.010000   1.1
6  69.000000   7170.179635   6.4
7  31.000000   4359.390000   1.8
8  41.000000  10422.770000   2.8
9  40.000000   9635.700000   9.9

### üêç C√≥digo

In [53]:
df_processado=df_processado.dropna()
df_processado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 990 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     990 non-null    int64
 1   idade                  990 non-null    float64
 2   renda                  990 non-null    float64
 3   categoria              990 non-null    object
 4   nota                   990 non-null    float64
 5   cidade_Belo Horizonte  990 non-null    float64
 6   cidade_Rio de Janeiro  990 non-null    float64
 7   cidade_S√£o Paulo       990 non-null    float64
 8   cidade_Vit√≥ria         990 non-null    float64
 9   cidade_nan             990 non-null    float64
 10  feedback_Bom           990 non-null    float64
 11  feedback_Regular       990 non-null    float64
 12  feedback_Ruim          990 non-null    float64
 13  feedback_nan           990 non-null    float64
dtypes: float64(12), int64(1), object(1)
memory usage: 116.0+ KB

### üîñ Explica√ß√µes

...

### üêç C√≥digo - Padroniza√ß√£o dos dados num√©ricos

In [54]:
scaler = StandardScaler()
df_processado[colunas_numericas] = scaler.fit_transform(df_processado[colunas_numericas])

### üîñ Explica√ß√µes

- Muitos modelos de Machine Learning exigem que os dados num√©ricos estejam na mesma escala.
- O `StandardScaler` **padroniza os valores**, ou seja, transforma-os para ter m√©dia zero e desvio padr√£o igual a 1.
- Isso evita que colunas com n√∫meros muito grandes (ex: renda em reais) dominem o modelo.

### üêç C√≥digo

In [55]:
df_processado[colunas_numericas].head(10)

      idade     renda      nota
0 -0.433375 -0.037364 -0.779476
1  0.001024  0.625957 -0.026122
2 -0.494957 -0.589989  1.446344
3 -1.665010  1.588715 -1.156153
4 -0.125467  1.138122 -1.669804
5  0.490351 -0.307895 -1.395857
6  1.598822  0.001291  0.419042
7 -0.741284 -0.820768 -1.156153
8 -0.125467  0.952562 -0.813719
9 -0.187048  0.722371  1.617561

### üîñ Explica√ß√µes

...

### üêç C√≥digo - Preparando os dados

In [57]:
# X = todas as colunas, exceto 'categoria'
X = df_processado.drop('categoria', axis=1)
X.info()

print(f"\n\n")

# y = a coluna que queremos prever
y = df_processado['categoria']
y.info()

<class 'pandas.core.frame.DataFrame'>
Index: 990 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     990 non-null    int64
 1   idade                  990 non-null    float64
 2   renda                  990 non-null    float64
 3   nota                   990 non-null    float64
 4   cidade_Belo Horizonte  990 non-null    float64
 5   cidade_Rio de Janeiro  990 non-null    float64
 6   cidade_S√£o Paulo       990 non-null    float64
 7   cidade_Vit√≥ria         990 non-null    float64
 8   cidade_nan             990 non-null    float64
 9   feedback_Bom           990 non-null    float64
 10  feedback_Regular       990 non-null    float64
 11  feedback_Ruim          990 non-null    float64
 12  feedback_nan           990 non-null    float64
dtypes: float64(12), int64(1)
memory usage: 108.3 KB



<class 'pandas.core.series.Series'>
Index: 990 entries, 0 to 999
Series name: categoria
Non-Null Count  Dtype
--------------  -----
990 non-null    object
dtypes: object(1)
memory usage: 15.5+ KB

### üîñ Explica√ß√µes

...

### üêç C√≥digo - Fazer previs√µes com o modelo carregado

In [58]:
previsoes = modelo.predict(X)

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [59]:
acuracia = accuracy_score(y, previsoes)
print(f'Acur√°cia do modelo: {acuracia:.2f}')

Acur√°cia do modelo: 0.46

### üîñ Explica√ß√µes

- **`accuracy_score()`**: √© uma fun√ß√£o do Scikit-learn que calcula a **acur√°cia**, ou seja, a porcentagem de previs√µes corretas.
- **`y`**: s√£o os valores reais (corretos) que o modelo deveria prever.
- **`previsoes`**: s√£o as previs√µes feitas pelo modelo.
- **Resultado:** um n√∫mero entre 0 e 1 (ex: `0.85` = 85% de acerto)

Esse √© um dos m√©todos mais simples e comuns para avaliar modelos de classifica√ß√£o.

### üêç C√≥digo

In [1]:
#

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [1]:
#

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [1]:
#

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [1]:
#

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [1]:
#

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [1]:
#

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [1]:
#

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [1]:
#

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [1]:
#

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [1]:
#

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [1]:
#

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [1]:
#

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [1]:
#

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [1]:
#

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [1]:
#

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [1]:
#

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [1]:
#

### üîñ Explica√ß√µes

...

### üêç C√≥digo

In [1]:
#

### üîñ Explica√ß√µes

...